.form {
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
}

.field {
    position: relative;
    width: 100%;
}

.icon {
    width: 1rem;
    height: 1rem;
    color: var(--color-accent);
}

.swapButton {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: all var(--transition-fast);
    cursor: pointer;
    margin: calc(var(--spacing-sm) * -1) 0;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-xl);
    background-color: var(--color-background);
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
        border-color: var(--color-text-tertiary);
        background-color: var(--color-border-light);
    }

    &:active {
        transform: scale(0.95);
    }
}

.swapIcon {
    transform: rotate(90deg);
    width: 1.25rem;
    height: 1.25rem;
    color: var(--color-text-primary);
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
}

.searchButtonIcon {
    width: 1.25rem;
    height: 1.25rem;
}
