.spinner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.circle {
    animation: spin 0.6s linear infinite;
    border-style: solid;
    border-color: currentColor currentColor transparent transparent;
    border-radius: 50%;
}

.sm .circle {
    border-width: 2px;
    width: 1rem;
    height: 1rem;
}

.md .circle {
    border-width: 2px;
    width: 1.5rem;
    height: 1.5rem;
}

.lg .circle {
    border-width: 3px;
    width: 2rem;
    height: 2rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
